* {
  box-sizing: border-box;
  background-color: white;
  font-style: normal;
  font-family: 'SF UI Text', sans-serif;
}
/* #E5E5E5 */

img {
  height: 29rem;
  padding-right: 0.3%;
}

h1 {
  letter-spacing: -3px;
  font-weight: 700;
  text-align: center;
  font-style: bold;
  line-height: 64px;
  background: linear-gradient(99deg, #16308B 0%, #F56BFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-top: 6%;
  margin-bottom: 3%;
}

p {
  font-family: 'SF UI Text', sans-serif;
}

.vision-statement {
  color: white;
  font-family: 'SF UI Text', sans-serif;
  font-weight: 400;
  line-height: 28px;
}

.bttn {
  border-radius: 0.6em;
  background-color: #0E236C;
  color: white;
  padding: 1% 4.3% 1% 4.3%;
  font-weight: 430;
  font-style: bold;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.235);
  border: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.252);
}

.bttn:hover {
  background-color: #A333CE;
  color: white;
  text-shadow: -2px -2px -2px rgba(0, 0, 0, 0.277);
}

.logo-font {
  margin-top: 5%;
  margin-left: 10%;
  background: linear-gradient(183.46deg, #A333CE 8.14%, #2E19B4 136.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .container-main > div {
    flex-direction: column;
  }
  img {
    width: 78%;
    margin-right: auto;
    margin-left: auto;
  }
}